<app-nav-bar></app-nav-bar>

<div class="container col-8 p-4">
  <div class="row">
    <div class="col-3">
      <div class="jumbotron ">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a *ngFor="let weather of weathers"
             [attr.aria-selected]="currentTab == weather.city ? true : false"
             [ngClass]="{'active' : currentTab == weather.city}"
             (click)="changeTab(weather.city)" class="nav-link" data-toggle="pill" href="home#{{weather.city}}"
             id="{{weather.city}}-tab" role="tab"
             mdbBtn color="cyan" mdbWavesEffect
          >{{weather.city}} </a>
          <app-modal (onAddTab)="onAddTab($event)"></app-modal>
        </div>

      </div>
    </div>
    <div *ngIf="weathers.length != 0" class="col-9 pr-5">
      <div class="jumbotron pt-3">
        <div class="tab-content" id="tabContent">
          <div *ngFor="let weather of weathers"
               [ngClass]="{'show active' : currentTab == weather.city}"
               class="tab-pane fade"
               id="{{weather.city}}"
               role="tabpanel"><app-tab-content [weather]="weather" (onRemove)="onDeleteTab($event)"></app-tab-content></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let err of weathers" class="row">
    <div *ngIf="error.active" class="alert alert-danger col-6 offset-4" role="alert">
      Unable to load weather data of city: {{error.city}}. Error message is: {{error.errormessage}}
    </div>
  </div>
</div>



